@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

html{
    /* box-sizing: border-box; */
    height: 100%;
    width: 100%;
    /* background-color: #24252A; */
}

body#General{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #24252A;
    /* background-color: black; */
    /* display: flex; */
}

body#General header#navBar{
    margin: 0%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

body header#navBar figure{
    height: 50px;
    width: 5%;
    margin-left: 0px;
    display: flex;
    /* justify-content: center; */
    flex-basis: 5%;
}

body header#navBar figure img#logo{
    margin: 0px;
    cursor: pointer;
    height: 100%;
    width: 60px;
}

body header#navBar nav{
    margin: 0px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-basis: 60%;
}

body header#navBar nav ul#nav_links{
    display: flex;
    flex-basis: 60%;
    margin: 15px 0px 15px 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    justify-content: center;
}

body header#navBar nav ul#nav_links li{
    flex-basis: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}

body header#navBar nav ul#nav_links li a{
    text-decoration: none;
    color: white;
}

body header#navBar a#admin{
    flex-basis: 10%;
    display: flex;
    justify-content: right;
    align-content: center;
    text-decoration: none;    
}

body header#navBar a#admin button{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 100px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

body header#navBar a#admin button:active{
    background-color: rgba(0,136,169,0.5);
    margin: 20px 10px 20px 10px;
    height: 30px;
    width: 80px;
}

li, a, button {
    font-family: "Comic Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

body#General div.BotonFin{
  display: flex;
  justify-content: end;
  margin: 0px 10px 10px 0px;
}

body#General div.BotonFin .izqbtn{
  margin-right: 5px;
}

body#General div.BotonFin .derbtn{
  margin-left: 5px;
}


/*Style Cómo jugar page ---hacer su propio css---*/

.container {
    width: 95%;
    max-width: 1220px;
    margin: 0 auto;
  }

.episode {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
  }
  
  .episode__number {
    font-family: "Comic Neue", sans-serif;
    color: #edf0f1;
    font-size: 5vw;
    font-weight: 600;
    padding: 5px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(10vw + 20px);
    transition: all 0.2s ease-in;
  }
  
  .episode__content {    
    font-family: "Comic Neue", sans-serif;
    color: #edf0f1;
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
  }
  
  .episode__content .title {
    font-weight: 600;
    font-size: 19px;
  }
  
  .episode__content .story {
    line-height: 26px;
    font-size: 17px;
  }
  
  @media (max-width: 600px) {
    .episode__content {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 576px) {
    .episode__content .story {
      font-size: 15px;
    }
  }

  /*Style Preguntas frecuentes page*/

  details {
    font-family: "Comic Neue", sans-serif;
    color: #edf0f1;
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    color: #edf0f1;
    min-height: 50px;
    
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    border-top: 2px solid rgba(0,136,169,1);
    padding: 15px 0;
    color: #edf0f1;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px rgba(0,136,169,1);
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: rebeccapurple;
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  
  /*Para seleccionar pensonaje*/

  .personajes{
    text-align: center;
    padding: 15px;
  }
  .input-hidden {
    position: absolute;
    left: -9999px;
    
  }
  
  input[type=radio]:checked + label>img {

    box-shadow: 0 0 3px 3px rgba(0,136,169,1);
  }

  input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
  }
  
  input[type=radio]:checked + label>img {
    transform: 
      rotateZ(-10deg) 
      rotateX(10deg);
  }

  .pselect {
  font-family: "Comic Neue", sans-serif;
  color: #edf0f1;
}

.btnconfirmar{
  font-family: "Comic Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  margin-bottom: 15px;
  margin-left: 160px;
  margin-right: 160px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
